@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #070b11;
  color: white;
  font-family: Inter, Arial, sans-serif;
}

.gradient {
  background: linear-gradient(to right, #67e8f9, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}